@import "reset.css";
@import "status-bar.css";

body {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}
.top-nav {
  margin: 30px 10px;
  margin-top: 40px;
  display: flex;
  position: fixed;
  justify-content: center;
  top: 1px;
  width: 100%;
}
.top-nav__col {
  width: 33%;
}
.top-nav__col:first-child {
  display: flex;
  justify-content: flex-start;
}
.top-nav__col:nth-child(2) {
  display: flex;
  justify-content: center;
}
.top-nav__col:last-child {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.top-nav__col > a {
  margin-right: 20px;
}
